/.vs
*.user
/Competet.6012e594
/x64
/SFML-2.6.1

*.lastbuildstate
*.tlog
*.tlog
*.tlog
*.tlog
*.obj
*.ipdb
*.recipe
*.log
client_pc/GameRenderer.cpp
client_pc/GameRenderer.h
ProjectClient/Client.vcxproj
ProjectClient/x64/Release/Client.exe.recipe
ProjectClient/x64/Release/Client.iobj
ProjectClient/x64/Release/Client.ipdb
ProjectClient/x64/Release/Client.log
ProjectClient/x64/Release/Client.tlog/CL.command.1.tlog
ProjectClient/x64/Release/Client.tlog/Cl.items.tlog
ProjectClient/x64/Release/Client.tlog/CL.read.1.tlog
ProjectClient/x64/Release/Client.tlog/CL.write.1.tlog
ProjectClient/x64/Release/Client.tlog/Client.lastbuildstate
ProjectClient/x64/Release/Client.tlog/link.command.1.tlog
ProjectClient/x64/Release/Client.tlog/link.read.1.tlog
ProjectClient/x64/Release/Client.tlog/link.secondary.1.tlog
ProjectClient/x64/Release/Client.tlog/link.write.1.tlog
ProjectClient/x64/Release/GameClient.obj
ProjectClient/x64/Release/GameRenderer.obj
ProjectClient/x64/Release/main.obj
ProjectClient/x64/Release/vc143.pdb
ProjectServer/x64/Release/CheckersBoard.obj
ProjectServer/x64/Release/GameRoom.obj
ProjectServer/x64/Release/main.obj
ProjectServer/x64/Release/Server.Build.CppClean.log
ProjectServer/x64/Release/Server.exe.recipe
ProjectServer/x64/Release/Server.iobj
ProjectServer/x64/Release/Server.ipdb
ProjectServer/x64/Release/Server.log
ProjectServer/x64/Release/server.obj
ProjectServer/x64/Release/Server.tlog/CL.command.1.tlog
ProjectServer/x64/Release/Server.tlog/Cl.items.tlog
ProjectServer/x64/Release/Server.tlog/CL.read.1.tlog
ProjectServer/x64/Release/Server.tlog/CL.write.1.tlog
ProjectServer/x64/Release/Server.tlog/link.command.1.tlog
ProjectServer/x64/Release/Server.tlog/link.read.1.tlog
ProjectServer/x64/Release/Server.tlog/link.secondary.1.tlog
ProjectServer/x64/Release/Server.tlog/link.write.1.tlog
ProjectServer/x64/Release/Server.tlog/Server.lastbuildstate
ProjectServer/x64/Release/vc143.pdb
